@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sevillana+One&display=swap' */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}