.slider{
    width: 70vw;
    margin: auto;
    /* overflow-x: hidden; */
}
/* .FT_container{
    display: flex;
  justify-content: center;
} */
/* body, html {
    height: 100%;
    margin: 0;
  } */

/* body{
    overflow-x: hidden;
} */