.div1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 108px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 118px;
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}

.div2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1px;
}

.div3 {
    align-items: center;
    background: linear-gradient(90deg, #ecfbf9 0%,rgba(229,252,222,1) 100%);
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-end;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: min-content;
    will-change: transform;
    margin: 10px -30px 0px 10px;
}


.circular-button {
    width: 135px;
    height: 51px;
    border-radius: 5%;
    background: linear-gradient(135deg, #ecfbf9 0%,rgba(229,252,222,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 17px;
    color: rgb(70, 70, 73);
}
