.brand-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Adjust the margin between logos */
  }
  
  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; Add a border around each logo */
    padding: 10px; /* Add padding around each logo */
  }
  
  .brand-logo img {
    max-width: 60%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
  }
  